# this is a template of what your local .env file should look like
# if you add any environment variables, edit this file and
# ./src/types/environment.d.ts as well

# the port to run the api webserver on
APP_PORT=3000

# the database connection uri
# I've been using a local mongodb instance for testing since it's faster
# and doesn't need to make a network trip, but I can add you as a user on my
# Atlas cluster if you can't get your local instance working
DB_CONN=mongodb://localhost:27017

# the api key for making requests to OMDb (open IMDB rest api)
# you can set this as a random string for now, but we'll need it in the future
OMDB_KEY=a000a000